# Main owner of this repo
#· *       owner@nalej.com
*       juan@nalej.com
*       ivan@nalej.com
*       alvaro@nalej.com
*       daniel@nalej.com
*       rnunez@nalej.com

# DevOps
#Makefile devops@nalej.com owner@nalej.com
#·/scripts/Makefile* devops@nalej.com owner@nalej.com
#/ci/ devops@nalej.com owner@nalej.com
